<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Cloud Computing</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="public/javascripts/script.js"></script>
    <link rel="stylesheet" href="public/stylesheets/mystyle.css">
</head>
<body>
    <header>
        <img id="logo" src="/public/images/Logo-DH-Cong-Nghe-Thong-Tin-UIT.png" alt="Logo UIT" >
        <h1>Cloud Computing Project</h1>
      </div>
    </header>
     
    <section>
        <h2>Group 6</h2><br>
        <h2 id="subject">IBM Cloud</h2>
        <div class="form">
            <form id="insert-form">
                <label for="id">Student ID</label>
                <input type="text" id="id" required><br><br>
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required><br><br>
                <label for="position">Position:</label>
                <select id="position" name="position" required>
                  <option value="Leader">Member</option>
                  <option value="Leader">Leader</option>
                </select>            
                <input type="submit" value="Add new member">
              </form>
        </div>
        <div id="alert">Notification:</div>
        <table class="tableGroup">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Full Name</th>
              <th>Position</th>
              <th>Action</th>
            </tr>
          </thead>
            <tbody>

            </tbody>
          </table>
    </section>
</body>
</html>